body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url("../Assets/bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.w-28 {
  padding-left: 40px;
}
.actions {
  display: flex;
  gap: 2rem;
}
.SignUp {
  background-color: white;
  border-radius: 15px;
  width: 5rem;
}
.SignIn {
  height: 2rem;
  width: 5rem;
  background-color: #60a5fa;
  margin-right: 9rem;
  border-radius: 15px;
}
.CTA {
  padding-left: 6rem;
  padding-top: 3rem;
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2.5rem;
  border-radius: 15px;
}
.ProductDetails {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  flex-wrap: wrap;
}
.product-details-images {
  padding-left: 50px;
  width: 200px;
  height: 200px;
}
.product-small-img {
  width: 50px;
  height: 50px;
}
.small-images {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  justify-content: center;
}
.rating {
  margin-top: -110px;
}
.change-big-image {
  width: 30px;
}
.change-big-image:hover {
  background-color: #e2e8f0;
}
.Add-to-cart-div {
  display: grid;
  place-items: center;
}
.Add-to-cart-button {
  border-radius: 15px;
  width: 110px;
  height: 50px;
  background-color: #3b82f6;
}
.Add-to-cart-button:hover {
  background-color: #60a5fa;
}
